# VS Code
.vscode/

# Logs
*.log

.DS_Store

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

#Environment variables
.env

# Build output
dist/
node_modules/
